body {
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-weight: 600;
}
.js-button {
    text-align: center;
    background-color: #37474f;
    color: #fafafa;
    font-size: large;
    padding: 11px;
    border: 0px solid red;
}