body {
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkseagreen;
  padding: 8px 12px;
}

.navbar_logo {
  font-size: 18px;
  color: beige;
}

.navbar_logo i {
  color: black;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}
.navbar_menu li:hover {
  background-color: tomato;
  border-radius: 40px;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
  margin: 2px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 12px;
  }

  .navbar_menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    justify-content: center;
    width: 100%;
  }
}
